<h3 [style]="currentStyles">Player List</h3>
<ul>
  <li
    *ngFor="let player of players | sortPlayerByCountry; let i = index"
    (click)="selectedPlayer = player"
  >
    #{{ i + 1 }}. {{ player.name }}
  </li>
</ul>
<ul>
  <li *ngFor="let slam of grandslams | keyvalue">
    {{ slam.key }} {{ slam.value }}
  </li>
</ul>
<ul>
  <li
    *ngFor="let player of players; let i = index"
    (click)="selectedPlayer = player"
  >
    {{ player | json }}
  </li>
</ul>
<app-player-detail
  #player
  *ngIf="selectedPlayer; else noPlayer"
  [player]="selectedPlayer"
  (liked)="onPlayerLiked($event)"
></app-player-detail>
<ng-template #noPlayer>
  <p>No player selected</p>
</ng-template>

<!-- <span>{{player.name}}</span> -->
