/* You can add global styles to this file, and also import other style files */

.copyright {
    background-color: lightblue;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color:black;
    text-decoration: none;
    margin: 8px;
}

a:hover {
    opacity: 0.88;
}

.active {
    color: rebeccapurple
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
